body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: whitesmoke;
}

table{
    color: gray;
    border-collapse: collapse;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
}

.tableau2{
    width: 100%;
}

td{
    text-align: center;
    font-family: Lato-Regular;
    font-size: 16px;
    height: 20px;
}

.tr2{
    border-bottom: 1px solid #f2f2f2;
}

th{
    width: 100px;
    height: 40px;
}

thead{
    font-family: Lato-Bold;
    font-size: 18px;
    background-color:#e7e7e7e5;
    color: #4272d7;  
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    width: 15px;
    position: sticky;
    top:1px;
}

.bar{
    overflow-y: scroll;
    max-height: 585px;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    margin-top: 5%;
}

.bar::-webkit-scrollbar {
    width: 20px;
  }
  
  .bar::-webkit-scrollbar-track {
    background-color: #a0a0a030;
    border-radius: 100px;
  }
  
  .bar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #7093d4;
  }

  .htabl{
      margin-top: 5%;
  }

/*table prevision*/
  .Prevision{
    overflow-y: scroll;
    max-height: 585px;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    margin-top: 5%;
}

.Prevision::-webkit-scrollbar {
    width: 20px;
  }
  
  .Prevision::-webkit-scrollbar-track {
    background-color: #a0a0a030;
    border-radius: 100px;
  }
  
  .Prevision::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #7093d4;
  }